<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Leçon {{ id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (loaded) {
    <ion-card class="image-card" (click)="setOpen(true)">
      <div class="row">
        <ion-img class="thumb" [src]="src"></ion-img>
        <div class="meta">
          <ion-card-title>{{ title }}</ion-card-title>
          <p class="desc">{{ description }}</p></div>
      </div>
    </ion-card>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Modal</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni illum quidem
          recusandae ducimus quos reprehenderit. Veniam, molestias quos, dolorum consequuntur nisi deserunt omnis id
          illo sit cum qui. Eaque, dicta. </p>
          <ion-img [src]="src"></ion-img>
        </ion-content>
      </ng-template>
    </ion-modal>
  } @else {
    <ion-list class="no-bg">
      <ion-list-header>
        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
      </ion-list-header>
      <ion-item class="no-bg">
        <ion-thumbnail slot="start" class="no-bg">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label class="no-bg">
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  }
</ion-content>
