<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Leçon {{ id }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (loaded) {
    <div class="images-cards-container">
      @for (src of srcs; track src; let i = $index) {
        <ion-card class="image-card" (click)="setOpen(true, src)">
          <div class="row">
            <ion-img class="thumb" [src]="srcs[i]"></ion-img>
            <div class="meta">
              <ion-card-title>Image du cours</ion-card-title>
              <p class="desc">{{ description }}</p>
            </div>
          </div>
        </ion-card>
      }
    </div>
    <ion-card class="add-image-card" (click)="addPhotoToGallery()">
      <ion-icon name="image-outline"></ion-icon>
      &nbsp;
      Ajouter une image
      <input #fileInput type="file" class="file-input" (change)="onChange($event)" style="display: none" />
    </ion-card>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="setOpen(false, null)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button (click)="downloadImage(modalImgUrl)">
                <ion-icon name="cloud-download-outline"></ion-icon>
                &nbsp;
                Télécharger l'image
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content [fullscreen]="true">
          <ion-img [src]="modalImgUrl"></ion-img>
        </ion-content>
      </ng-template>
    </ion-modal>

    @if (isCardViewReady) {
      <swiper-container
        effect="cards"
        zoom="true"
        slides-per-view="1"
        centered-slides="true"
        space-between="16"
        pagination="true"
        pagination-clickable="true"
        pagination-renderBullet="{{bullets}}"
        class="lesson-swiper">

        @for (card of cards; track card.id) {
          <swiper-slide>
            <ion-card class="lesson-card"
                      [class.flipped]="isFlipped(card.id)"
                      (click)="toggleFlip(card.id)">
              <div class="flip-inner">
                <div class="face front">
                  <div class="edit_container">
                    <ion-button fill="clear" size="small" (click)="editCard(card); $event.stopPropagation();">
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" size="small" (click)="deleteCard(card.id); $event.stopPropagation();">
                      <ion-icon name="trash-bin-outline"></ion-icon>
                    </ion-button>
                  </div>
                  <ion-card-header>
                    <ion-card-title>{{ card.question }}</ion-card-title>
                  </ion-card-header>
                </div>

                <div class="face back">
                  <div class="edit_container">
                    <ion-button fill="clear" size="small" (click)="editCard(card); $event.stopPropagation();">
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" size="small" (click)="deleteCard(card.id); $event.stopPropagation();">
                      <ion-icon name="close-outline"></ion-icon>
                    </ion-button>
                  </div>
                  <ion-card-header>
                    <ion-card-title>Réponse</ion-card-title>
                  </ion-card-header>
                  <ion-card-content>
                    <p>{{ card.answer }}</p>
                  </ion-card-content>
                </div>
              </div>
            </ion-card>
          </swiper-slide>
        }
      </swiper-container>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openAddCardAlert()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    } @else {
      <ion-list class="QA-list">
        @for (card of cards; track card.id) {
          <ion-item-sliding class="QA-card">
            <ion-item-options side="start">
              <ion-item-option>Éditer</ion-item-option>
            </ion-item-options>

            <ion-item class="QA-card">
              <ion-label>
                <h3>{{ card.question }}</h3>
                <p>{{ card.answer }}</p>
              </ion-label>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        }
      </ion-list>
    }
  } @else {
    <ion-list class="no-bg">
      <ion-list-header>
        <ion-skeleton-text [animated]="true" style="width: 80px"></ion-skeleton-text>
      </ion-list-header>
      <ion-item class="no-bg">
        <ion-thumbnail slot="start" class="no-bg">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label class="no-bg">
          <h3>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  }
</ion-content>
